body{
    background-color: lightgray; 
    font-family: Verdana,Verdana, Geneva;
}
h1{
    color:#222222;
    font-weight: bold;
    opacity: 0.9;
    border-bottom: 15px solid red;

}
p{
    text-align: left;
}  
img{
    width:50%;
}
#robo{
    width:20%;
}
.textovermelho{
    color:red;
}